# Question 1


Explain the difference between the following two statements:

print (12)

print ("12")

In [1]:
# Explain the difference between the following two statements:
# print (12)
# print ("12")
# Your response:

#The first one is a numeric interger that you can manipulate mathematically. The second one in quotes is a string, which is really an array representing a character.

# Question 2

a=3

b='0'

c=a-2

d="from"

e="QMSS"

f='at'

g='U of M'

print (a, b, c, d, e, f, g)

What is the output of the above program?

What are the types of the variables a, b, c, d, e, f, g in the program?

In [2]:
# Your response:
a=3
b='0'
c=a-2
d="from"
e="QMSS"
f='at'
g='U of M'
print (a, b, c, d, e, f, g)

# Your response: The output is "301 from QMSS at U of M". 

#a and c are numeric intergers. b is a string. d through g are strings.

3 0 1 from QMSS at U of M

# Question 3

What is the difference between the following expressions? 

c1 = 299792458

c2 = 2.99792458 * 10 ** 8

In [3]:
c1 = 299792458
c2 = 2.99792458 * 10 ** 8
# Your response:
#c1 is a numeric interger and the second is a float function named c2.

float

# Question 4

What is the result of the expression **not(True or False)**? Discuss your findings.

In [4]:
# Your response:

not(True or False)

#The function is checking the precense of True OR False. Since both are present, it prints "False"; in other words, it is false to say that the expression is neither true nor false. It must be one or the other, so Python returns "False" to us.

False

# Question 5

Start with the list [3, 4, 1]. Do the following:

(a) Set the second entry (index 1) to 0

(b) Remove the first entry from the list

In [13]:
list_given = [3, 4, 1]
# Your response: 

list_given[1] = 0
print(list_given)
#[3, 0, 1]

list_given.remove(3)
print(list_given)
#[0, 1]

[3, 0, 1]
[0, 1]

# Question 6

Given (x = 1), what will be the value of after we run (x += 2)?

In [16]:
x = 1
# Your response: 3. 
x = 1 
x +=2
print(x)

3

# Question 7


Write a function called rad2deg() that takes an input "rad_value" as an argument and converts from radians to degrees.

In [55]:
# Function Definition

# Test Input

# rad2deg(1) => 57.324840764331206 degrees

#define the function 
def rad2deg(x):
  return x * 57.324840764331206 
#print results 
print (rad2deg(3))

171.9745222929936

# Question 8

What is the difference between 10 / 3 and 10 // 3?

What is the result of 10 ** 3?

In [19]:
10/3
10//3

# Your response:
# 10/3 performs floating numeric division, while 10//3 performs interger division. So 10/3 will return 3.333 repeating and 10//3 will return just 3, or the closest whole number.
# 10 ** 3 uses an exponentiation operator. It performs like this: 10*10*10. The result is 1,000.

3

# Question 9

Assuming (name = “QMSS 301”), what does name[1] return?

What about name[-2]?

What about name[1:-1]?

In [52]:
#Assuming (name = "QMSS"), what does name[1] return?
name = "QMSS 301"
# Your response:

name = "QMSS 301"
print(name)
print(name[1])
#M

name = "QMSS 301"
print(name)
print(name[2])
#S


name = "QMSS 301"
print(name)
print(name[3])
#s

name = "QMSS 301"
print(name)
print(name[1:-1])
#MSS 30

QMSS 301
M
QMSS 301
S
QMSS 301
S
QMSS 301
MSS 30

# Question 10

US States - Ranked by Population 2023

Data Source: https://worldpopulationreview.com/states

data_dict = {'California': 39613493, 
             'Texas': 29730311,
             'Illinois': 12569321, 
             'Pennsylvania': 12804123,
              'New York': 19299981, 
             'Florida': 21944577
             }

Extract the names (i.e. keys) from the dictionary "data_dict" and print them.

In [54]:
# US States - Ranked by Population 2023
# Data Source: https://worldpopulationreview.com/states
data_dict = {'California': 39613493, 
             'Texas': 29730311,
             'Illinois': 12569321, 
             'Pennsylvania': 12804123,
              'New York': 19299981, 
             'Florida': 21944577
             }
# Your response:
State_Names= list(data_dict.keys())
print(State_Names)
#['California', 'Texas', 'Illinois', 'Pennsylvania', 'New York', 'Florida']

['California', 'Texas', 'Illinois', 'Pennsylvania', 'New York', 'Florida']

# Bonus Question (Optional)

List any five python built-in functions that we discussed in the last lecture.

In [ ]:
# Your response:
type()
print()
list()
int()
len()